/* Clap button */
.clap {
  position: relative;
  outline: 1px solid transparent;
  border-radius: 50%;
  border: 1px solid #bdc3c7;
  width: 80px;
  height: 80px;
  background: none;
  user-select: none;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50%;
    width: 79px;
    height: 79px;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid #27ae60;
    transition: border-color 0.3s ease-in;

    &:after {
      animation: shockwave 1s ease-in infinite;
    }
  }
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px #27ae60;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 50px #145b32, inset 0 0 10px #27ae60;
  }
}

/* Count */
.count {
  position: absolute;
  top: -50px;
  left: 20px;
  font-size: 0.8rem;
  color: white;
  background: #27ae60;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
}

/* Count total */
.total {
  position: absolute;
  font-size: 0.8rem;
  width: 80px;
  text-align: center;
  left: 0;
  top: -22px;
  color: #bdc3c7;
}

/* Clap Icon */
.icon {
  width: 40px;
  fill: none;
  stroke: #27ae60;
  stroke-width: 2px;

  &.checked {
    fill: #27ae60;
    stroke: #fff;
    stroke-width: 1px;
  }
}

/* Clap Info */
.info {
  position: relative;
  text-align: center;
  bottom: 20px;
}

.reset {
  &-btn {
    border-bottom: 1px solid #bdc3c7;
    color: #27ae60;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    outline: 0;
    display: block;
    width: 50%;
    cursor: pointer;

    &:hover {
      color: #276dae;
    }
  }

  &-msg {
    color: #000;
    font-size: 10px;
  }

  &-msg-danger {
    color: rgb(209, 0, 0);
    font-size: 10px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -7.5rem -5rem -7.5rem;
  }
}
